<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/core.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/styles.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/modern.css" | prepend: site.baseurl }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
  

    <meta name="author" content="Jessica Engstr&amp;#246;m" />
    <link rel="me" type="text/html" href="https://plus.google.com/103526937978144763696?rel=me" />
    <link rel="me" type="text/html" href="http://catoholic.se/syndication.axd?format=rss" />
    <link rel="me" type="text/html" href="http://twitter.com/EngstromJess" />
    <link rel="me" type="text/html" href="http://www.facebook.com/EngstromJessica" />
    <meta name="keywords" content="Windows Phone, Windows, Gadgets, Geek,UX,UI" />
    <meta name="author" content="Jessica Engstr&amp;#246;m" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
</head>
